* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.primary-btn {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 20px 25px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    border: 0;
}

main {
    max-width: 1140px;
    margin: 0 auto
}

.section-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;

}

.section-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* --------common css end-------- */
#banner {
    background-image: url(../images/banner/banner3.png);
    padding: 130px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 130px;
}

.banner-content {
    width: 500px;
    text-align: right;
    margin-left: auto;
    margin-right: 150px;
}

.banner-title {
    color: #FFFFFF;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    margin-bottom: 8px;
}

.banner-description {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;


}

/* ---------my failure styles-------- */
.failure-container {
    display: flex;
    gap: 85px;
    align-items: center;
}

.sec-title {
    margin-bottom: 24px;
}

.failure-content {
    padding-right: 70px;
}

.failure-content ul {
    margin-top: 15px;
}

.failure-content ul li {
    margin-bottom: 8px;
}

.failure-content ul li i {
    margin-right: 10px;
    color: #16D887;
}

/* --------my plan styles-------- */

#my-plan {
    margin: 130px 0;
    text-align: center;
}

.plan-title {
    color: #151414;
    font-weight: 700;
    font-size: 30px;

}

.plan-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}

.plan-container {
    display: flex;
    gap: 85px;
    margin-top: 50px;
}


/* ---------positive mindset------- */
#positive-mindset {
    margin-bottom: 130px;
}

.positive-mindset-items {
    background-image: linear-gradient(to right, rgb(0, 95, 172), rgba(0, 95, 172, 0)), url(../images/watch.png);
    background-size: cover;
    background-position: center;
    padding: 58px 0;
    padding-left: 65px;
    border-radius: 8px;
    border: 2px solid #FFFFFF;
}

.positive-mindset-items:hover {
    border-color: #45a2ee;
    border-radius: 10px;
}

.positive-title {
    color: #FFFFFF;
    line-height: 47px;
    padding-right: 600px;
    margin-bottom: 24px;
}

/* -------latest product styles-------- */
#latest-product {
    margin-bottom: 130px;
    text-align: center;
}

.product-items img {
    width: 100%;
}

.product-container {
    display: flex;
    gap: 18px;
    margin-top: 50px;
}

.product-description {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.product-title {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}