* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.primary_btn {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 20px 25px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    border: 0;
}

main {
    max-width: 1140px;
    margin: 0 auto
}

.section-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;

}

.section-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* --------common css end-------- */
#banner {
    background-image: url(../images/banner/banner3.png);
    padding: 130px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 130px;
}

.banner_content {
    width: 500px;
    text-align: right;
    margin-left: auto;
    margin-right: 150px;
}

.banner-title {
    color: #FFFFFF;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    margin-bottom: 8px;
}

.banner-description {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;


}

/* ---------my failure-------- */
.failure-container{
    display: flex;
    gap: 85px;
    align-items: center;
}
.sec-title{
    margin-bottom: 24px;
}
.failure-content{
    padding-right: 70px;
}
.failure-content ul{
    margin-top: 15px;
}
.failure-content ul li{
    margin-bottom: 8px;
}
.failure-content ul li i{
    margin-right: 10px;
    color: #16D887;
}